html,
body {
  height: 100%;
  margin: 0;
}

.container {
  height: 100%;
}

.mapView {
  height: 100%;
  width: 100%;
}

#nav {
  background-color: #84d6fc;
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 40%;
  overflow: auto;
}

ul {
  font-size: 18px;
  line-height: 50px;
  padding: 3px;
}

.search {
  border-style: none;
  height: 70px;
  width: 100%;
  font-size: 25px;
}

.infoBox {
  max-width: 70px;
  font-size: 10px;
}

@media screen and (min-width:550px) {
  .infoBox {
    max-width: 200px;
    font-size: 14px;
  }
}
